<div class="container jumbotronn text-center">
  <h1 class="text-center">Calculate Hours In Between</h1>

  <form class="form-inline">

    <div class="form-group space-right">
      <label for="from">From</label>
      <!-- <input type="time" class="form-control" name="from" [(ngModel)]="from" (ngModelChange)="onTimeChange()"> -->
       <ngb-timepicker name="from" [(ngModel)]="from" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </div>

    <div class="form-group">
      <label for="to">To</label>
       <!-- <input type="time" class="form-control" name="to" [(ngModel)]="to" (ngModelChange)="onTimeChange()">  -->
        <ngb-timepicker name="to" [(ngModel)]="to" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </div>

  </form>
  <!-- 
  <div class="row">
    <div class="col-xs-5 col-sm-6">
      <div class="form-group">
      <ngb-timepicker name="from" [(ngModel)]="from" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
      </div>
    </div>
    <div class="col-xs-5 col-sm-6">
      <div class="form-group pull-right">
      <ngb-timepicker name="to" [(ngModel)]="to" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
      </div>
    </div>
  </div> -->

  <h1 class="text-center bg-success">{{ hoursInBetween }}</h1>
</div>