<div class="container jumbotronn">
  <h1 class="text-center">Calculate Hours In Between</h1>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3">
      <ngb-timepicker name="from" [(ngModel)]="from" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </div>
    <div class="col-xs-5">
      <ngb-timepicker name="to" [(ngModel)]="to" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </div>
  </div>

  <h1 class="text-center bg-success">{{ hoursInBetween }}</h1>
</div>