<div class="container jumbotronn text-center">
  <h1 class="text-center">Time Duration Calculator (Test 2)</h1>

  <form class="form-inline">

    <div class="form-group space-right">
      <label for="from">From</label>
       <ngb-timepicker name="from" [(ngModel)]="from" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </div>

    <div class="form-group">
      <label for="to">To</label>
        <ngb-timepicker name="to" [(ngModel)]="to" meridian="true" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </div>
      
  </form>

  <h1 class="text-center bg-success">{{ timeDuration }}</h1>
</div>